# Virtual environment
venv/
env/
.venv/

# Python
*.py[cod]
__pycache__/
*.egg-info/
pip-wheel-metadata/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment / dotenv
.env

# VS Code / JetBrains
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
dist/
build/
.pytest_cache/
